/target/
/target/debug/
/target/release/
/.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.pyc
*.zip
*.aux.xml
/.idea
/WBT/
/WBT/__pycache__/
/zip_file/
